<div class="col-3" style="border-left: 1px solid lightgray; height: 100%;">
    <section id="friends">
           <center style="margin-top: 10px;"><h4>
                   Friends
                   </h4>
           </center>
        <div id="user-friends">
                <% for(u of all_users) { %>

                        <div class="card" style="margin: 10px 10px;">
                                <div class="card-body">
                                        <p style="display: inline-block;"><%= u.name %></p>
                                        <a class="btn btn-info" style="float: right; font-size: 12px;" href="/users/profile/<%= u.id %>">View Profile</a>
                                </div>
                        </div>

                <% } %>
        </div>
    </section>
</div>