<div class="col" style="border-right: 1px solid lightgray; border-left: 1px solid lightgray; height: 100%;">
    <section id="feed-posts" >
                <% if(locals.user) { %>
                <form action="/posts/create" id="new-post-form" method="POST" style="margin-top: 14px;">
                        <div class="form-group">
                          <textarea type="password" class="form-control" name="content" cols="30" rows="3" placeholder="What's in your Mind..." required></textarea>
                          
                        </div>
                        <button type="submit" class="btn btn-primary">Post</button>
                       
                       
                </form>
                <% } else { %>
                        <form style="margin-top: 14px;"></form>
                                <div class="form-group">
                                  <textarea type="password" style="background-color: rgba(255, 0, 0, 0.5); color: white;" class="form-control" name="content" cols="30" rows="3" disabled>You Need to be Signed In to be able to Post</textarea>
                                  
                                </div>
                               
                               
                               
                        </form>
                <% } %>
                <hr>

                <div id="posts-list-container">
                        <% for(post of posts) { %>

                      <div class="card" style="margin-top: 12px; margin-bottom: 12px;">
                                <div class="card-body">


                                <% if(locals.user && locals.user.id == post.user.id){ %>

                                        <div class="dropdown" style="display: inline-block; float: right;">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-gear" aria-hidden="true"></i>
                                                </a>
                                              
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="/posts/destroy/<%= post.id %>">Delete Post</a>
                                                 
                                                </div>
                                        </div>

                                <% } %>

                                       
                                <%= post.content %>
                                </div>
                                <span style="text-align: right; color: lightslategrey; padding: 5px;"><%= post.user.name %></span>
                                <div class="post-comments">
                                <p style="display: inline-block; margin-left: 15px;">Like</p>
                                <% if(locals.user){ %>
                                        <form action="/comments/create" method="POST" style="float: right;">
                                                <input type="text" class="comment" name="content" placeholder="Type Here to add Comment..." required>
                                                <input type="hidden" name="post" value="<%= post._id %>" >
                                                <input type="submit" class="comment-button" value="Add Comment">
                                        </form>
                                <% } %>
                                        <hr>
                                <div class="post-comments-list">
                                        <h5 style="margin-left: 14px;">Comments</h5>
                                        <ul id="post-comments-<%= post._id %>">
                                                <% for(comment of post.comments){ %>
                                                        <% if(comment.content) { %>
                                                          <li style="list-style: none;">
                                                                <p style="display: inline-block;">
                                                                        <%= comment.content %>
                                                                </p>
                                                        
                                                                <small style="float: right;">
                                                                By: <%= comment.user.name %>
                                                                
                                                                <% if(locals.user && locals.user.id == comment.user.id){ %>

                                                                <div class="dropdown" style="display: inline-block; float: right; margin-left: 15px; margin-right: 4px;">
                                                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fa fa-bars" aria-hidden="true"></i>
                                                                        </a>
                                                                      
                                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                          <a class="dropdown-item" href="/comments/destroy/<%= comment.id %>">Delete Comment</a>
                                                                         
                                                                        </div>
                                                                </div>
                                                        <% } %>

                                                                </small>
                                                        </li>
                                                <% } else { %>
                                                                <p style="display: inline-block;">
                                                                       No Comments Found
                                                                </p>
                                                      
                                                <% } } %>
                                        </ul>
                                </div>    
                                
                                </div>
                      </div>
                      <% } %>


                </div>
               
                
    </section>
  </div>